<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Consulta de items publicados - MeLi</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
	<header>
		<h1 class="text-center mb-4">Consulta masiva MercadoLibre</h1>
	</header>

	<div class="container" id="app">
		<h3 class="mb-3">Por vendedor y sitio:</h3>

		<!-- Formulario -->
		<section class="container mb-4">
			<form @submit.prevent="onSubmit" @reset.prevent="onReset">
				<div class="form-row">
					<div class="form-group col-md-8">
						<label for="seller_id">Vendedor</label>
						<input type="text" class="form-control" id="seller_id" v-model="seller_id" placeholder="ID del vendedor"required>
						<p class="small mb-0 ml-2">(puede ingresar varios IDs, separados por comas)</p>
					</div>
					<div class="form-group col-md-4">
						<label for="site_id">Sitio</label>
						<select class="custom-select" id="site_id" v-model="site_id" required>
						  <option selected disabled value="">Seleccionar sitio</option>
						  <option v-for="(value, key) in sitios" :value="value.id">{{value.id}} - {{value.name}}</option>
                      </select>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Consultar</button>
					<button type="button" class="btn btn-primary" v-on:click="saveFile()">Exportar resultados</button>
					<button type="reset" class="btn btn-primary float-right">Limpiar todo</button>
				</div>
			</form>
		</section>

		<!-- Tabla -->
		<section class="container">
			<table class="table table-sm table-striped">
			  <thead class="thead-light">
				<tr>
				  <th scope="col" class="text-center font-weight-bold">Seller ID</th>
				  <th scope="col" class="text-center font-weight-bold">Item ID</th>
				  <th scope="col" class="text-center font-weight-bold">Item Title</th>
				  <th scope="col" class="text-center font-weight-bold">Category ID</th>
				  <th scope="col" class="text-center font-weight-bold">Category Name</th>
				</tr>
			  </thead>
			  <tbody>
                <!-- Si todavía no se realizó la consulta -->
				<tr v-if="!inicializado">
				  <td class="text-center" colspan="5">Realice una consulta para ver los resultados</td>
				</tr>
                <!-- Mientras busca -->
				<tr hidden :hidden="!inicializado" :hidden="finalizado" v-else-if="!finalizado">
				  <td class="text-center" colspan="5">Buscando...</td>
				</tr>
                <!-- Si no hay resultados -->
				<tr hidden :hidden="!finalizado" v-else-if="resultados.length === 0">
				  <td class="text-center font-weight-bold" colspan="5">No se encontraron resultados para los criterios indicados</td>
				</tr>
				<!-- Si hay resultados, entonces genera la tabla de resultados -->
				<tr hidden :hidden="!finalizado" v-else v-for="(value, key) in resultados">
				  <td class="text-center"> {{value.seller_id}} </td>
				  <td class="text-center"> {{value.item_id}} </td>
				  <td class="text-center"> {{value.item_title}} </td>
				  <td class="text-center"> {{value.category_id}} </td>
				  <td class="text-center"> {{value.category_name}} </td>
				</tr>
			  </tbody>
			</table>
		</section>
	</div>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>

  </body>

</html>
